*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 380px;
    perspective: 1000px;
}
.card-inner{
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.2s;
    transform-style: preserve-3d;
}

.font{
    backface-visibility: hidden;
}

.font img{
    width: 100%;
    border-radius: 10px;
}

.back{
    backface-visibility: hidden;
    background: #c62600;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: rotateY(180deg);
}
.back h2{
    font-size: 50px;
    margin: 10px;
    font-weight: 600;
}
.back p{
    font-size: 26px;
    font-weight: 300;
}

.soical i{
    color: #fff;
    width: 40px;
    height: 40px;
    background: #e43a00;
    border-radius: 50%;
    font-size: 18px;
    margin: 28px 6px;
    line-height: 40px;
}

.soical a{
    text-decoration: none;
}

.btn{
    text-decoration: none;
    color: #333;
    background: #fff;
    border-radius: 24px;
    padding: 10px 50px;
    font-size: 20px;
    margin: 80px auto 0;
}

.card:hover .card-inner{
    transform: rotateY(-180deg);
}